html{
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}
.nombre-sitio{
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.nombre-sitio span{
  color: #037bc0;
}
.navegacion {
  background-color: #e1e1e1;
}
.navegacion a{
  text-transform: uppercase;
}
/* Box Model */
.sobre-nosotros{
  background-color: red;
  width: 20rem;
  padding: 2.5rem;
}
.sobre-empresa{
  background-color: blue;
  width:50rem;
  padding: 10rem;
}